streamlit==1.35.0
pandas_datareader==0.10.0
yfinance==0.2.40
plotly==5.22.0
tensorflow==2.16.1
streamlit-extras==0.4.2
streamlit-parameters==0.1.5
pandas==2.2.2
numpy==1.26.4
netron==7.7.1
scikit-learn==1.5.0
requests==2.32.3
Pillow==10.3.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-cookies-manager==0.2.0
streamlit-datagrid==0.0.1
streamlit-embedcode==0.1.2
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.4
streamlit-login-auth-ui==0.2.0
streamlit-lottie==0.0.5
streamlit-on-Hover-tabs==1.0.1
streamlit-option-menu==0.3.13
streamlit-parameters==0.1.5
streamlit-tensorboard==0.0.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
trycourier==6.1.0